<% layout('layout') %>

<h4>
  <img src="/public/wamu-logo.jpg" width="220" style="padding-bottom: 4px">
  Online Payment Service
</h4>

<div style="margin: 8px">
  <p class="alert alert-info">
    Your payment has been authorized.
  </p>
</div>
